@import url('https://use.typekit.net/iqe5cbr.css');
@import url("https://use.typekit.net/iqe5cbr.css%22");

:root {
  background-color: #a3554b;
  color: white;

  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.App {
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.left, .right {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  
  padding: 15rem 0 0;
  margin: 0 5rem;
  width: 25%;
}

.left {
  align-items: flex-end;
}

.right {
  align-items: flex-start;
}

.center {
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;

  font-family: zenon, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.sound-container {
  width: 100%;
}

.heading {
  text-align: right;
  font-family: zenon, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 2.9vw;
  margin: 0;
  white-space: nowrap;
}

.subHeading {
  font-family: roboto-slab, serif;
  font-size: 0.75vw;
  text-align: right;
  margin: 0;
  font-weight: bold;
}

.illustration {
  width: 100%;
  object-fit: contain;
  margin-top: auto;
}

.bodyText {
  font-family: zenon, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
}

@media only screen and (max-width: 1200px) {
  .App {
    flex-direction: column;
    align-items: center;
  }

  .left, .center, .right, .footer {
    width: 75%;
  }

  iframe {
    margin: 5vw 0;
    height: 80px;
  }

  .right {
    padding: 0;
    margin: 5vw 0;
  }

  .heading {
    font-size: 8vw;
  }

  .subHeading {
    font-size: 2vw;
  }

  .footer {
    position:initial;
    text-align: right;
  }
}

@media only screen and (max-width: 400px) {
  iframe {
      width: 100%;
  }
}


@media only screen and (min-width: 1921px) {
  .App {
    max-width: 1920px;
    max-height: 780px;
  }
}