@import url('https://use.typekit.net/iqe5cbr.css');

/* @font-face {
  font-family: "Britannic Bold";
  src: local("Britannic Bold"),
  url("./fonts/Britannic-Bold-Regular.ttf") format("truetype");
  font-weight: bold;
} */

:root {
  background-color: #a3554b;
  color: white;
}

.App {
  margin: auto;
  display: grid;
  width: 1280px;
  height: 800px;
  grid-template-columns: 0px repeat(8, 117px) 0px;
  grid-column-gap: 38px;

  grid-template-rows: repeat(12, 55.666666666667px);
  grid-row-gap: 12px;
}

.left {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 2;
  grid-column-end: 4;
}

iframe {
  grid-row-start: 7;
  grid-row-end: 11;
  grid-column-start: 2;
  grid-column-end: 4;
}

.center {
  grid-row-start: 3;
  grid-row-end: 12;
  grid-column-start: 4;
  grid-column-end: 8;
  border: solid 1px white;
  text-align: center;
  overflow: hidden;
}

.right {
  grid-row-start: 4;
  grid-row-end: 12;
  grid-column-start: 8;
  grid-column-end: 10;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;

  font-family: zenon, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.heading {
  font-family: zenon, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 39px;
  margin-block-start: 0.3em;
  margin-block-end: 0em;
}

.subHeading {
  font-family: Britannic-Bold-Regular;
  font-size: 13px;
  text-align: right;
  margin: 0;
  font-weight: bold;
}

.illustration {
  width: 580px;
}

.bodyText {
  font-family: zenon, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
}